{{#each AdoptionData as |adoption| }}

  
=======


      <img class="justify-start rounded-lg h-12 w-12 inline-block" src="{{profile.profile_picture}}" alt="">  
      <a class="inline-block ml-2 font-bold text-xl" href="">{{adoption.user.name}}</a>
      <div class="flex justify-center">
        <img class="m-4 h-80 w-80" src="{{adoption.photo}}" alt="">
      </div>
      
      <h3 class="font-bold text-black-600 text-lg text-center">Location: </h3>
      <p class="text-black-600 pt-2 text-center mb-8">{{adoption.location}}</p>
      <h4 class="font-bold  text-black-600 text-lg pt-2 text-center">Date: </h4>
      <p class="text-black-600 pt-2 text-center mb-8">{{adoption.updatedAt}}</p>
      <p class="font-bold  text-black-600 pt-2 text-lg text-center ">Description:</p>
      <p class="text-black-600 pt-2 text-center mb-8">{{adoption.description}}</p>

      <p id="userID" class="hidden" >{{adoption.user_id}}</p>
      <button id="adopt" class="float-right text-5xl -mt-8"><i class="fas fa-paw"></i></button>

   <script>
     let adoptBtn = document.querySelector("#adopt");
     let userID = document.querySelector("#userID");
     adoptBtn.addEventListener('click', (e) => {
       fetch('localhost:3001/api/adoption/' + userID, {
        method: 'PUT', 
        headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({
        'adopted' : true,
      })
    }) 
     })
   </script>

{{/each}}



