
{{!-- {{#each UserData as |user| }} --}}
<div>
   <img class="justify-start rounded-lg h-48 w-48 inline-block mb-8" src="{{profile.profile_picture}}" alt="">  
      <p class="inline-block ml-2 text-xl font-bold " href="">{{UserData.name}}</p>
      <p class="text-black-600 text-lg text-center"><strong>Email: </strong> {{UserData.email}}</p>
      <p class="text-black-600 text-lg text-center"><strong>Phone: </strong> {{UserData.phone}}</p>
      <p class="text-black-600 text-lg text-center"><strong>Location: </strong> {{UserData.location}}</p>
</div>
{{!-- {{/each}} --}}